[2012-11-02 13:40] rgrp opened #2 "Collect existing license texts here"
This repo would contain license texts of all licenses we review and approve for archival and reference purposes.

cf https://spdx.org/licenses/

[2012-11-02 13:41] rufuspollock opened #3 "Consider switching website to gh-pages"
- Downside
  - more tecchy
- Upside:
  - we could include licenses api, license texts etc
  - more techhy

Note we don't blog much as it is ...

[2012-11-02 13:56] rufuspollock opened #4 "Review licenses and send conformance notices"

[2012-11-03 08:07] rgrp opened #5 "Extend/integrate/possibly reimplement opendefinition.org website"
* [x] #47 - switch to github pages
* [ ] #7 - Integrate licenses.opendefinition.org
* [ ] #2 - Integrate texts of licenses
* [x] Integrate versioned open definition
* [x] Have a blog or not (?)

[2012-11-03 09:09] rufuspollock opened #6 "Update bios of AC members"

[2012-12-03 15:55] rufuspollock opened #7 "Merge https://github.com/okfn/licenses with this repo ..."
**Update**. April 2015
- We probably aren't going to actually merge licenses repo itself.
- What we do want to do is merge the API / UI from licenses repo / licenses.opendefinition.org to here
  - though even here there is an argument to leave stuff in licenses and migrate web stuff to gh-pages
- licenses repo will then slim down to being data only

TODO: work out what we to migrate here and what

[2012-12-18 16:09] everton137 opened #9 "Should we add other languages in this repository?"
Hi, I would like later to include the Portuguese translation to this repo. Is that OK? How are translations version control being done? Best, Tom

[2013-06-04 15:41] #9 closed, assigned to nobody

[2013-06-04 15:45] #6 closed, assigned to nobody

[2013-06-04 15:54] mlinksva opened #12 "No license notice on opendefinition.org"
The content on opendefinition.org has to be assumed to be non-open by the casual browser. :-/

Disappeared from footer at some point between http://web.archive.org/web/20120818073852/http://opendefinition.org/ and http://web.archive.org/web/20120911060236/http://opendefinition.org/

This may be a general OKFN wordpress theme issue.

[2013-06-04 15:57] #4 closed, assigned to nobody

[2013-06-04 16:00] #3 closed, assigned to nobody

[2013-06-17 22:19] #12 closed, assigned to nobody

[2013-06-24 08:44] rgrp opened #15 "Review the Italian Open Data License (IODL)"
http://www.dati.gov.it/iodl/2.0/

[2013-06-25 18:07] rufuspollock opened #16 "Post notes from the AC call June 2013"
Notes are in [google doc here](https://docs.google.com/a/okfn.org/document/d/1t1_2_T-PeprvkLVwum5fY-od1hecUowFwaRvuQwDLNw/edit).

Markdownify and post at http://opendefinition.org/updates/ :-)

Also could be nice to add all arising issues in this issue tracker here so we track them :-) (if we're getting really fancy we could add a dedicated tag "actions-{meeting-date}"

[2013-06-26 20:12] mlinksva opened #17 "OGL Canada 2.0"
- add license text to repo; see http://lists.okfn.org/pipermail/od-discuss/2013-June/000425.html
- review for conformance; ongoing threads

[2013-06-28 10:30] #17 closed, assigned to hlainchb

[2013-07-05 10:41] rufuspollock opened #19 "Add existing approved licenses to the repo"
Start with data?

[2013-08-03 20:19] #16 closed, assigned to mlinksva

[2013-09-14 00:23] hlainchb opened #20 "Location of License Texts"
I have added all of the text I can find texts for that are listed as conformant.  The licenses that I do not have texts for are:

  other-at.json
  other-open.json
  other-pd.json
  ukclickusepsi
  ukcrown-withrights
  ukpsi

If someone has the text for these and can point me at it, I will convert to markdown.

[2013-09-14 00:27] hlainchb opened #21 "HESA-withrights"
I added this license as a subset of what was available at : http://www.hesa.ac.uk/index.php?option=com_content&task=view&id=2619&Itemid=209

The other sections of this page include things like web cookies and email updates so they didn't seem to belong in a license, plus, the section title for section 6 is titled "Your License of the Unistats Dataset" which to me meant that this section is the act

[2013-10-03 11:34] rufuspollock opened #22 "Review Worldbank license for conformance"
http://data.worldbank.org/summary-terms-of-use

http://web.worldbank.org/WBSITE/EXTERNAL/0,,contentMDK:22547097~pagePK:50016803~piPK:50016805~theSitePK:13,00.html
## http://data.worldbank.org/summary-terms-of-use
- You are free to copy, distribute, adapt, display or include the data in other products for commercial and noncommercial purposes at no cost subject to certain limitations summarized bel

[2013-10-09 18:27] mlinksva opened #24 "OD translations should include heading with "Open Definition" translated"
Some eg http://opendefinition.org/okd/arabic/ say "Open Definition" in English.

[2013-10-09 18:29] mlinksva opened #25 "OD translations -- should be kept/noted for each version of OD?"
Should OD translations be of a particular OD version, and version included in URL?

I'm happy with deciding no -- each translation linked to should just be most recent that has been translated. But seems worth considering.

[2013-10-09 18:32] mlinksva opened #26 "OD translations have english language-name URLs"
I'm not sure the likes of http://opendefinition.org/okd/arabic/ (tradition continued from previous translations) is ideal. Perhaps all should be moved to 2 or 3 letter language codes?

[2013-10-10 16:19] rgrp opened #27 "Git repo usable as a submodule for open licenses and json in projects ..."
Good idea from Mike Linksvayer on list

[2013-10-16 21:03] #24 closed, assigned to nobody

[2013-10-16 21:11] #19 closed, assigned to nobody

[2013-10-22 01:15] rgrp opened #28 "Review Danish Business Register Terms of Use"
http://www.cvr.dk/Site/Forms/CMS/DisplayPage.aspx?pageid=128

Used from e.g. http://www.cvr.dk/Site/Forms/CMS/DisplayPage.aspx?pageid=136

[2014-08-05 14:06] rufuspollock opened #44 "Non-open OGL + terms license for some UK gov-related data"
UKCES put out "LMI For All" with data on education, skills and jobs.

Data is supposed to be open but:
- Data only available via an API (you have to register for)
- Terms and Conditions state that data is licensed under OGL but then proceed to add non-open conditions - http://www.lmiforall.org.uk/terms-and-conditions/. See highlights below
## Terms

Terms and Conditions
1. Introduction

1.1. The t

[2014-08-14 15:39] rgrp opened #46 "Updating Open buttons / badges"
We have had http://opendefinition.org/buttons/ for years and the images are widely used (esp as stickers - see e.g. http://en.wikipedia.org/wiki/Open_data)

Could look to update these and perhaps rebrand as "badges" (now the common term)

* Better way to track use
* Mozilla open badges support (?)
* Updated designs
* Clearer statement that you should pass the requirements
* Open data "inside" for

[2014-08-17 13:21] rufuspollock opened #47 "Migrate from Wordpress to Github pages"
- [x] Migrate content
  - [x] Migrate core content
  - [x] Migrate redirects ... (cf dataprotocols.org for how we did this with a template)
- [x] Migrate theme
  - [x] Basic css etc
  - [ ] Sidebars etc
- [x] CNAME
- [x] Migrate DNS

Additional, possible, related changes
- [ ] Change /update/ to /news/ or /blog/ (more normal)
  - will need redirect

[2014-08-22 09:22] rufuspollock opened #49 "German open data license v2"
Here are the DRAFT German open data license v2.0

Data licence Germany - Zero - Version 2.0
https://docs.google.com/document/d/1RqQqkCt7t9yO5YMrRsXEMnoS5cCDzUtbDf-tN0Upq1A/edit#

Data license Germany - attribution - Version 2.0
https://docs.google.com/document/d/1z8aKuEoyPw_T_LZNBTH1O_ZSJCta9N1YgWSiX5zXzw4/edit#

and here are the answers to the questions as provided by the Federal German Ministry

[2014-09-08 16:07] #47 closed, assigned to nobody

[2014-09-08 16:09] mlinksva opened #50 "replace old OKF logo with OK one in upper right of OD site?"

[2014-09-08 16:12] mlinksva opened #51 "merge /source into /od and /software-service"
/source was where OD and OSSD files where, but they now mostly duplicate what is under /od and /software-service. Seems /source should go away, and /od where versions, tranaslations etc should be committed to minimize barrier to deployment.

[2014-09-26 16:26] #50 closed, assigned to nobody

[2014-10-02 17:37] #26 closed, assigned to nobody

[2014-10-02 17:37] #49 closed, assigned to nobody

[2014-10-02 17:38] #25 closed, assigned to nobody

[2014-10-02 17:50] mlinksva opened #54 "newer version of definition available/please translate notices"
All translations are currently of 1.1 or 1.0 (2.0 is current). Notices, perhaps templated, could be added to 1.1 and 1.0 that there is a newer version, and in the case the current version is not available in the language in question, call for translation.

[2014-10-09 00:10] BrucePerens opened #56 "Please Attribute the Definition Properly"
Hi,
Please attribute the definition properly.

This is a problem with many "open" definitions on the net, you're not the only one. But it happens enough that it's getting annoying. Please properly attribute your definition as derivative as follows:

"The original Debian Free Software Guidelines, and the Debian Social Contract of which they are a part, were created by Bruce Perens and the Debian De

[2014-10-28 18:02] mlinksva opened #61 "OD 2.0 unintentionally ambiguous about whether GPL would be open if considered"
OD 2.1 should remove this ambiguity. Brought up at https://lists.okfn.org/pipermail/okfn-discuss/2014-October/010652.html

[2014-10-28 18:03] mlinksva opened #62 "OD site should use https"
Suggested at https://lists.okfn.org/pipermail/okfn-discuss/2014-October/010623.html

[2014-10-28 18:06] mlinksva opened #63 "/od redirect to stable url for current version?"
(Note this would be rather ugly so long as gh-pages hosted because only meta/js redirects supported)

https://lists.okfn.org/pipermail/okfn-discuss/2014-October/010623.html suggests:

stable URIs for the different version. So

  http://opendefinition.org/od should redirect to
  http://opendefinition.org/od/2.0

and the previous ones remain available at

  http://opendefinition.org/od/XXX

[2014-10-28 18:07] mlinksva opened #64 ""no charge" section could be clarified"
https://lists.okfn.org/pipermail/okfn-discuss/2014-October/010625.html suggests:

The "No Charge" section could be made clearer. It is acceptable to
charge for distribution so long as the charge is not some sort of
license fee.

For example, say I want to operate a mail order geodata service, If I
charge for the service of putting the data on a DVD and sending it to
you in the post, that is OK so

[2014-10-28 18:08] mlinksva opened #65 "Document use of may/must etc"
https://lists.okfn.org/pipermail/okfn-discuss/2014-October/010624.html suggests:

If you are soliciting changes, the language throughout seems to use
the words SHALL, MUST NOT, MAY, etc in an RFC2119 sense. If this is
the case, perhaps a note with a reference so that others know how to
interpret these words. If this is not the case, the way in which they
are to be interpreted could be mentioned to

[2014-11-04 18:25] hlainchb opened #66 "page not being generated for Spanish Translation"
I can't see why but the Spanish translation of 2.0 is not being generated as a page on the site.

[2014-11-04 18:29] #66 closed, assigned to nobody

[2014-11-08 17:48] mlinksva opened #68 "tighten up 1.3 Open Format"
https://lists.okfn.org/pipermail/od-discuss/2014-November/ discussion.

"The work must be provided in a convenient and modifiable form such that there are no unnecessary technological obstacles to the performance of the licensed rights. Specifically, data should be machine-readable, available in bulk, and provided in an open format (i.e., a format with a freely available published specification wh

[2014-11-13 12:30] lofidevops opened #69 "Surely licenses *must* include modifiers required to exercise rights?"
It clearly the intention that an OD license gives permissions unreservedly...

However this clause implies that required permissions may not be explicitly given.

I presume that this allows for licenses that happen to have all the bases covered (e.g. CC0 explicitly excluding patents but explicity including sui generis database rights, COIL including patents but not mentioning SGDR, or MIT/Expat fa

[2014-11-14 09:18] #69 closed, assigned to nobody

[2014-11-22 20:59] patrickhoefler opened #71 "/od/ and /od/2.0/en/ out of sync"
I noticed that http://opendefinition.org/od/ and http://opendefinition.org/od/2.0/en/ are currently out of sync. At the moment, the only difference seems to be commit 1c6425df360a8604c10dc9b428d5be5a96362e6e. The question is, however, if it is practical to keep the two documents in sync manually, or if a redirect from http://opendefinition.org/od/2.0/en/ to http://opendefinition.org/od/ would be t

[2014-11-26 15:54] #71 closed, assigned to nobody

[2014-12-08 10:09] rufuspollock opened #74 "Rename /buttons/ to /badges/"
What: rename buttons to badges both in url and in content of page.

Why: "Badges" are a more appropriate term of art (at least today) than "buttons" i think.

@mlinksva @hlainchb wdyt?

[2014-12-08 16:12] mlinksva opened #75 "clarify "fee/libre/open source software tool" in 1.3"
In "at least one free/libre/open source software tool" it has been suggested that a definition eg OSD be cited, see discussion at https://lists.okfn.org/pipermail/od-discuss/2014-December/thread.html#1178

Needed for #68

[2014-12-10 04:46] mlinksva opened #76 "Apparently it is possible to misread OD 2.0 as allowing DRM'd works. It does not but 2.1 should be harder to misread."
See https://lists.okfn.org/pipermail/od-discuss/2014-December/001186.html

[2014-12-10 08:18] mlinksva opened #77 "Should 2.1 include some minimum standard of compatility with existing licenses?"
Arguably a license that is incompatible with all other licenses, and not already widely used, limits severely what a licensor is actually able to do in terms of making adaptations. Raised in https://lists.okfn.org/pipermail/od-discuss/2014-December/001190.html and replies.

[2014-12-10 09:38] tarkowski opened #78 "Name of the definition in translation"
The definition was previously called an "Open Knowledge Definition", currently it's the "Open Definition". Still, most translations use the previous name, and in some cases both - the Czech reads "Open Definition - Definition of Open Knowledge". Guidance on this would be appreciated. In Poland, one concern is that "Open Definition" is a much less clear name with regard to the scope of the definiti

[2014-12-23 03:34] mlinksva opened #79 "Link previous OD versions somewhere"
Suggested at https://lists.okfn.org/pipermail/od-discuss/2014-December/001199.html

Maybe also add templated notice to previous versions pointing at current version?

[2015-01-15 18:31] hlainchb commented on #76
I am preparing a draft 2.1 now which will include this text.

[2015-01-23 03:22] stevensimon opened #81 "Open Buttons do not pass colour contrast accessibility"
http://opendefinition.org/buttons/

The "blue" and orange/grey buttons do not pass WCAG 2.0 colour contrast minimums. Please see improved versions attached (sorry, I'd submit a pull request but I can't find where these images are in a repo, only on the assets server of okfn...)

![oc_80x15_blue](https://cloud.githubusercontent.com/assets/3871678/5869305/c74437cc-a302-11e4-87b4-21bf50782614.png)
![

[2015-01-23 17:27] mlinksva commented on #81
Thanks for this. I don't know if there's a public repo for the OK assets server. I'll try bringing this issue to attention of sysadmins who have resolved previous issues with the site.

[2015-01-23 17:35] mlinksva commented on #78
Closing this as the Polish translation offered in PR #80 is now live.

[2015-01-23 17:35] #78 closed

[2015-01-25 10:01] nigelbabu commented on #81
These buttons are hosted on S3, but version controlled on this [bitbucket repo](https://bitbucket.org/okfn/assets.okfn.org). If you can submit a pull request there, we can accept it and do the sync. Does that sound okay?

[2015-01-29 02:02] stevensimon commented on #81
That sounds ok :) Will do so soonish! Noticed a few other buttons that may need tweaking so will add them in as well. Thanks for informing me of the bitbucket repo

[2015-02-28 18:49] bluechi opened #86 "Translation in Right to Left Languages"
The translations of right to left languages like Arabic and Hebrew are displayed from left to right and cannot be read properly, something needs to be done about this.

[2015-02-28 18:57] mlinksva commented on #86
Thanks for noting, embarrassing and needs to be fixed indeed.

Off the top of my head a variable could be set in the front matter of rtl languages and template could conditionally add dir=rtl attribute in right place if variable set.

I can probably do this next week, but if anyone wishes to submit a patch before, feel free.

[2015-02-28 19:04] bluechi commented on #86
Thanks, looking forward to the fix!

[2015-03-02 05:41] #86 closed

[2015-03-13 04:08] wolftune commented on #76
This seems complete in https://github.com/okfn/opendefinition/blob/master/source/open-definition-2.1-dev.markdown

Can we close this ticket?

[2015-03-13 04:11] wolftune commented on #75
I think this is the only outstanding issue from #68 and there's note there about deferring to FSF/OSI for what qualifies maybe…

[2015-03-13 04:12] wolftune commented on #68
The only outstanding issues I see here are #75 (separate ticket) and whether we clarify what "fully processed means" i.e. without degradation…

[2015-03-13 04:15] wolftune commented on #61
I'm quite sure the latest draft https://github.com/okfn/opendefinition/blob/master/source/open-definition-2.1-dev.markdown covers this fully and we can close this ticket.

[2015-03-15 01:53] mlinksva commented on #61
You're right about the ambiguity being removed wrt GPL, but the latest draft language seems impossible to understand without looking up 'corresponding source' and reading its definition in the GPL (or being someone who has already done so many times):

"The license may require for any distribution of the work that corresponding source files be made available in the preferred form for modification.

[2015-03-15 01:56] #76 closed

[2015-03-15 02:15] wolftune commented on #61
I actually do not agree that 'corresponding source' is inadequate. I understand it is confusing in that it is a broad and slightly complex issue. There are various ways to figure this out. It's not GPL-specific language though. It would apply to something like hardware in that it would require the blueprints or something like that to be made available (although I'm not sure the OD applies to hardw

[2015-03-15 18:59] mlinksva commented on #61
My complaint is not that the language is theoretically GPL-specific in application, rather it requires reading the GPL to understand.

One of the goals with 2.0 was to make it possible to understand without embedded explanatory comments and without having background knowledge about the OSD and its predecessors. I think 2.0 met that goal pretty well. I view this wording as a bit of a regression on

[2015-03-15 19:28] wolftune commented on #61
I didn't write "corresponding" in reference to GPL, fwiw. I just wrote it as a seemingly straightforward English word.

But I didn't understand the concern originally. I understand your point better now.

I think we could indeed go back toward the simpler 2.0 wording but still fix the issue at hand:

**"The license may require that anyone distributing the work provide recipients with access to the

[2015-03-17 11:30] mlinksva commented on #61
I misunderstood the role of "corresponding" perhaps. I thought you added it in order to clarify that the GPL's partiuclar requirement is OK wrt the OD. I agree that is not necessary as clearly what the GPL requires is just clarifying what the preferred form for making modifications actually entails, not a different requirement that needs an additional carve out in the OD.

So I like your more gene

[2015-03-17 17:16] #61 closed

[2015-04-18 21:06] rgrp commented on #51
Seems a good idea. @mlinksva are you happy to implement?

[2015-04-18 21:08] rgrp commented on #27
OK, my view now is that:

1. We keep license "data" stuff in licenses repo https://github.com/okfn/licenses
2. If people want to submodule they will use that

Hence, this issue is WONTFIX and we can close. @mlinksva @hlainchb make sense to you?

[2015-04-18 21:54] rgrp commented on #7
updated description with current proposal as to what happens

[2015-04-19 04:20] #51 closed

[2015-04-19 04:23] mlinksva commented on #27
Makes sense to me.

[2015-04-19 04:23] #27 closed

[2015-04-19 08:40] rgrp commented on #27
WONTFIX

[2015-04-19 08:41] rgrp commented on #74
OK, sounds like we have consensus. Let's do it - with redirects in standard jekyll way. Anyone up for implementing?

[2015-04-19 08:42] rgrp commented on #5
@mlinksva as i understand it of the remaining checkboxes above #2 is probably WONTFIX as we don't want to dupe the other project. #7 is in progress but is a bit item and can be dealt with separately.

If this sounds right, can we note this and close this as DONE

/cc @hlainchb

[2015-04-19 08:42] rgrp commented on #28
@hlainchb shall we take this to the list?

[2015-04-19 08:43] rgrp commented on #20
Can we merge this with #2

[2015-04-19 08:47] rgrp commented on #2
I'm reopening as I think #7 is distinct. Real questions is whether we want texts given other projects collecting texts such as https://spdx.org/licenses/

[2015-04-19 18:51] mlinksva commented on #2
I don't see any evidence that anyone wants to do the work. If such a person exists they should probably be encouraged to help with the SPDX texts collection.

[2015-04-19 18:51] #2 closed

[2015-04-19 18:52] mlinksva commented on #5
Makes sense to me.

[2015-04-19 18:52] #5 closed

[2015-04-19 19:03] rgrp commented on #5
FIXED.

[2015-04-20 13:20] Stephen-Gates opened #93 "Open Format Definition and a Conformant open formats page"
I would like to link to a Open Format Definition page with a set of conformant open formats. This would be similar in concept to the Conformant Licenses page.

I would like to link to the Open Format Definition page from the ODI [Open Data Certificate](https://certificates.theodi.org) site. To earn an Open Data Certificate you are asked a [number of questions](https://certificates.theodi.org/overv

[2015-04-20 15:43] mlinksva commented on #93
I don't think the OFD has been looked at in ages, but this seems like a great use of it. Are there other changes you feel necessary (thanks for the PR removing old links so far)?

Please send a note to od-discuss about your plans, or let me know to do so if you don't feel like joining yet another mailing list.

[2015-04-20 20:43] Stephen-Gates commented on #93
I'm happy to propose something to od-discuss. Stay tuned...

[2015-04-21 13:22] Stephen-Gates commented on #93
Sent!

[2015-04-28 12:47] Stephen-Gates opened #95 ""should... where possible" in 1.3 Open Format definition"
"Data must be machine-readable and should be provided in bulk where possible."

"where possible" seems redundant.

"Data must be machine-readable and should be provided in bulk." seems equivalent.

From http://www.ietf.org/rfc/rfc2119.txt
- MUST  -  This word, or the terms "REQUIRED" or "SHALL", mean that the definition is an absolute requirement of the specification.
- SHOULD  -  This word, or th

[2015-04-28 13:22] hlainchb commented on #95
I agree.

[2015-04-29 12:06] Stephen-Gates commented on #93
@mlinksva would you like me to draft a new OFD page based on the od-discuss conversation? I would avoid the approving formats concept and just breakdown the meaning of the words and perhaps reference some external lists of open data formats.

[2015-04-30 17:50] mlinksva commented on #93
@Stephen-Gates yes that'd be great.

[2015-05-03 05:00] Stephen-Gates opened #96 "2.1 - consistent formatting of "must""
Section 1. and 1.2 do not use italics for "must".

[2015-05-03 05:04] Stephen-Gates opened #97 "2.1 - Section 1.2 - replace "preferably" with "should""
In Section 1.2 of the draft Open Definition 2.1 replace "preferably" with "should"

Current:
"The work must be available as a whole and at no more than a reasonable one-time reproduction cost, preferably downloadable via the Internet without charge."

Proposed:
"The work must be available as a whole and at no more than a reasonable one-time reproduction cost, and *should* be downloadable via the I

[2015-05-03 05:22] Stephen-Gates commented on #93
Draft at http://stephen-gates.github.io/OpenDefinition/index.markdown

Please pardon my lack of GitHub, Markdown and HTML skills. Hopefully the content is useful.

[2015-05-03 06:02] Stephen-Gates commented on #68
Perhaps "fully processed" could become something like,

An open format *must* allow **works** to be read, performed and written with at least one free/libre/open-source software tool.

You could add "without degradation" into the sentence.

I thought about adding something about "extracting meaning" but perhaps that's best left to "machine-readable" which also needs to be better defined.

[2015-05-03 06:33] wolftune commented on #68
"allow" here is not strong enough. We can't have it just that this is allowed but that there actually *exists* such software that actually can work with the format in real practice.

[2015-05-03 06:51] Stephen-Gates commented on #68
@wolftune Agree with your comment on "allow".

Perhaps "fully processed" should align with,

Hence full processing = **access**/read,  **use**/perform/play/display/etc., **modify**, and **share**/write

[2015-05-03 16:01] hlainchb commented on #68
@wolftune Also agree with comment on "allow"

@Stephen-Gates +1 on alignment

What are we trying to accomplish with "without degradation" and "fully processed"?  i.e. what are some  examples that are we hoping to eliminate with these words?  Is this about formats like Excel or have we wandered into new territory?

[2015-05-03 21:17] Stephen-Gates commented on #68
@hlainchb I thought on degradation was that the **work** *should* be published in a lossless and uncompressed open format so all the original detail is retained. I'm not sure if that's where @wolftune was going?

I guess that the question is how far does the Open Definition go with providing advice on good practice by using "should" statements?
- Maybe a National Budget in PDF is Open but it *shou

[2015-05-08 23:20] Stephen-Gates commented on #93
I've converted the content to a google doc for easier reading https://docs.google.com/document/d/1f7tFyGyZG9FxQT3hK7HkBq-LCCB6DKgNqui4UnlfMe0/edit?usp=sharing

[2015-05-10 05:01] Daniel-Mietchen opened #98 "Link rot and licensing on PDDL page"
http://opendefinition.org/licenses/odc-pddl/ is currently tagged as licensed CC BY, which is rather odd for a public domain dedication.

The links in there to
http://www.opendatacommons.org/odc-public-domain-dedication-and-licence/
and
http://opendefinition.org/licenses/odc-pddl/
are actually not links, and the first of these URLs is broken anyway.

[2015-05-11 03:36] #98 closed

[2015-05-11 03:39] mlinksva commented on #98
The CC BY notice in the footer concerns the material on the opendefinition.org site, not the licenses it describes. If this could and should be more clear, suggestion or pull request welcome!

[2015-05-11 03:55] mlinksva commented on #97
Looks right to me. Do you want to submit a pull request? You should be able to fork and edit on the web directly from https://github.com/okfn/opendefinition/blob/master/source/open-definition-2.1-dev.markdown

[2015-05-11 03:58] mlinksva commented on #95
Makes sense to me too. @Stephen-Gates feel free to submit this along with PR for #96 and #97.

[2015-05-11 04:08] mlinksva commented on #93
@Stephen-Gates FWIW I suspect the reason http://stephen-gates.github.io/OpenDefinition/ insn't readering is that the markdown file needs 'front matter' to be parsed, see http://jekyllrb.com/docs/frontmatter/

But in this case it'd be good to work from https://github.com/okfn/opendefinition/blob/gh-pages/ofd/index.markdown

Submit a PR against that, replacing most of it with your new material and w

[2015-05-11 17:44] #97 closed

[2015-05-11 19:30] #96 closed

[2015-05-11 19:30] #95 closed

[2015-06-11 15:25] #56 closed

[2015-06-11 15:29] mlinksva commented on #64
Covered in 1.2, no charge is only a *should* wrt distribution.

[2015-06-11 15:29] #64 closed

[2015-06-11 15:44] mlinksva commented on #77
Closing as we don't need renumbering, will use the added text in section 2 intro

[2015-06-11 15:45] mlinksva commented on #75
OSD etc cited in intro, no need to reiterate those are what we mean

[2015-06-11 15:45] #75 closed

[2015-06-11 15:52] mlinksva commented on #77
Meant to close PR not this issue.

[2015-06-11 15:58] #77 closed

[2015-06-11 16:02] mlinksva commented on #68
@hlainchb @wolftune I missed this 2.1 issue on the call. I'm fine with the current 1.3 text but others may want to review with respect to concerns above.

[2015-06-11 16:24] mlinksva commented on #65
I'm leaving open as this sentence may be awkward for translators, since RFC2119 is only defined for English. Sentence:

A translation could be direct, ignoring that RFC2119 is English only, eg

Or it could note the English words, perhaps

Or it could link to a translation of RFC2119. A few at https://github.com/ganwell/2119

Or something else. Should we recommend a particular approach for translat

[2015-06-11 16:27] mlinksva opened #109 "merge master into gh-pages"
Anything useful in master only should be merged into gh-pages and visible on website, as discussed on OD call today.

Probably useful to check each file in master, merging (or not) and deleting from master. When master is empty, issue is done.

[2015-06-11 16:30] mlinksva commented on #54
Added 2.1 label as we should have notices ready upon launch to go with a call for translations.

[2015-06-11 16:33] mlinksva commented on #79
Companion to #54.

[2015-06-11 16:40] wolftune commented on #68
I think the current draft is good enough to go into 2.1 but want, as always, for the community to have a chance to weigh in before finalizing.

[2015-06-11 16:51] hlainchb commented on #68
I agree.  I think the current ODv2.1 draft of 1.3 is good.  The community will have a chance to weigh in as part of the next call for comments before finalization.

[2015-06-12 00:08] BrucePerens opened #110 "Open Definition is a pirated work without proper attribution"
The Open Definition is very obviously derived from the Debian Free Software Guidelines and now with some edits, yes, but it's still quite derivative. Long ago, I complained to you of this fact and submitted a ticket here with the proper attribution text. You chose to waive it off. It's unfortunate that because of politics OSI chose to remove my attribution from the definition, and there is a perso

[2015-06-12 00:11] BrucePerens commented on #110
FYI, my statement of the origin of the work from which you have obviously derived, and various people's participation, is at http://blog.algoram.com/blog/2014/11/24/about-the-creation-of-the-open-source-definition-and-the-debian-social-contract/

[2015-06-12 00:41] rgrp commented on #110
@BrucePerens Mike Linksvayer did work on this in relation to the original issue you opened at https://github.com/okfn/opendefinition/issues/56 We're sorry if that still does not address your concerns. Could you suggest a specific location where you still want amendment post that commit about what we need to improve. As stated there we are committed to getting this right and are making best efforts

[2015-06-12 00:50] BrucePerens commented on #110
OK. Sorry, I went over the top there. There is a ton of old politics behind
this that you have nothing to do with. But it seems to still get me steamed.

Anyway, the background, if you care to read it, is at
http://blog.algoram.com/blog/2014/11/24/about-the-creation-of-the-open-source-definition-and-the-debian-social-contract/

The provenance is:

Debian Free Software Guidelines - attribute to Bru

[2015-07-15 19:37] hlainchb commented on #65
@mlinksva can we consider this issue addressed?  It seems the discussion has introduced a related language translation issue, but I would see that as a separate issue since it's not in the original description for this issue.  As the original issue is labelled as as a 2.1 issue I would like to close the original issue if it's been addressed.

[2015-07-15 21:21] hlainchb commented on #110
@BrucePerens we are committed to getting this right.  I would like to propose that we add the following text to the footer area of the definition right below the final clause of the definition, adapted from @rgrp 's earlier proposal (issue #56):

"The Open Definition was initially derived from the Open Source Definition, which in turn was derived from the original Debian Free Software Guidelines,

[2015-07-16 02:40] ppKrauss opened #114 "Towards an Open Definition clause for law"
Thinking about **law documents** in any country. Example: [law-docs repository of EU-countries](http://eur-lex.europa.eu/n-lex/), [law-docs repo of BR](http://www.lexml.gov.br/), [law-docs repo of UK](http://www.legislation.gov.uk/browse), etc. ... millions of documents (!).

Statutory law documents (acts and any other statutory *"obligation norm"*) usually have not an explicit licence, or  link o

[2015-07-16 03:08] mlinksva commented on #114
If you want a document cited in a law document to automatically be made open by virtue of being cited in a law document, that's not something a copyright license can accomplish. It calls for a new copyright exception, i.e. a change in public policy.

If you want law documents to use a license which prohibits derivatives from citing non-open documents, I really doubt that will be considered opendef

[2015-07-16 03:11] mlinksva commented on #65
@hlainchb yes closing now. Can deal with translation issue when it comes up.

[2015-07-16 03:11] #65 closed

[2015-07-16 09:29] rgrp commented on #110
@hlainchb +1

[2015-07-16 10:48] ppKrauss commented on #114
@mlinksva Thanks for hosting this kind of discussion (and my something exotic  long explanations).

Perhaps the first step to discuss with somebody is asking: "hey, do you agree that *'contamination by citation'* is really a democratic need?"
If it is a wrong principle/hypothesis, it is wrong to waste time discussing consequences of the principle.

The second step, I will explain in the PS below,

[2015-07-16 16:47] BrucePerens commented on #110
Looks fine.

 Thanks

 Bruce

On Thu, Jul 16, 2015 at 2:29 AM, Rufus Pollock <notifications@github.com>
wrote:

[2015-07-16 16:50] BrucePerens commented on #114
I think you could do this with contract law rather than copyright law.
There would have to be contract terms regarding citation that were agreed
to before you could copy or otherwise use the license. It's not clear,
though, that doing this would fit our own definition of "open".

On Thu, Jul 16, 2015 at 3:48 AM, Peter <notifications@github.com> wrote:

[2015-07-16 18:58] hlainchb commented on #110
Thanks Bruce.

[2015-07-16 19:49] ppKrauss commented on #114
@BrucePerens sorry if was confuse, I explaning better at this local Wiki link,
   https://github.com/okfn/opendefinition/wiki/Citation-alike-clauses-of-open-licenses-for-law

hum... the focus here are "documents that are the law" (in US they are the Acts)... I never see a  copyright in a law-document ("obligation norms"), only in voluntary norms like ISO... But I am not an expert.

to before you c

[2015-07-16 22:12] BrucePerens commented on #114
voluntary norms like ISO... But I am not an expert.

Under the Bern Copyright Convention of sometime in the 1980's, works are
copyrighted by default with all rights reserved. This is a treaty
convention which essentially all countries have accepted.

It used to be that works were in the public domain until copyright was
declared. Now, everything is copyrighted instantly. So, if legal documents
don

[2015-07-17 11:41] ppKrauss commented on #114
Hi, I was excited, with my "verbose mode" enabled ;-)  Now I will slowly and making some homework to understand all your points in depth... I will reply only one point at a time (I not forgot the rest!)

copyrighted by default with all rights reserved. (...)

declared. Now, everything is copyrighted instantly. So, if legal documents
don't have a license attached to them, you can assume it's "All R

[2015-07-17 12:51] bluechi commented on #114
Hi everyone,

Many domestic copyright laws exclude official documents, such as
legislations and court decisions, from copyright protection. That's why you
don't need a license to make a copy of the constitution. For example, this
is the text of Article 8(IV) from the translation of the Brazilian
copyright law on WIPO's website
<http://www.wipo.int/wipolex/en/text.jsp?file_id=125393>:

*(8) The fol

[2015-07-17 15:14] mlinksva commented on #114
I'm closing this issue as I don't see anything actionable in the context of opendefinition.org. I'd suggest continuing the conceptual discussion on https://discuss.okfn.org/ and/or getting in touch with the https://en.wikipedia.org/wiki/Free_Access_to_Law_Movement

[2015-07-17 15:14] #114 closed

[2015-07-17 15:21] mlinksva commented on #114
ps I meant to start with: good point @bluechi ... IIUC @ppKrauss wants to extend what counts as an official enactment to documents cited by things already considered official enactments. I may misunderstand. :) Feel free to leave a comment about where the conversation is continuing.

[2015-07-17 15:45] ppKrauss commented on #114
Error when try to "sign up" (Create New Account) with Github at https://discuss.okfn.org/

[2015-07-17 16:15] rgrp commented on #114
@ppKrauss can you just sign up normally - discourse sign up may not be working perfectly there atm and we can investigate.

[2015-07-17 17:04] ppKrauss commented on #114
@rgrp , @mlinksva, @bluechi and @BrucePerens thanks for attention and good discussion.  The discuss.okfn.org is ok (!), I am trying https://discuss.okfn.org/t/there-are-a-taxonomy-of-law-document-licenses/510

@bluechi, we can continue there?

PS: @BrucePerens I think I will back later to finesh our "in depth" debate, after  a long homework :-)

[2015-07-19 20:58] RouxRC commented on #68
Hi there and thanks a lot @hlainchb for the mailing-list notice.

I seem to have missed the latest updates regarding 1.3 and I'm only catching up now which I feel a bit guilty about... :/

I've been exploring all the latest commits and I'm worried the successive changes have lost in the way both references to bulk access (which was indeed moved to 1.2, but then removed as redundant with "as a whol

[2015-07-19 21:41] Stephen-Gates commented on #68
@RouxRC, I to like the clarity of that version and how it more strongly aligns with the questions used in the Open Data Census. However the "Bulk" requirement is now a must.

[2015-07-19 22:02] hlainchb commented on #68
@RouxRC I feel that bulk is adequately covered in 1.2, which is appropriate since it's an access issue.  Would you agree?

If so, then your main issue is machine-readable is now by implication via "can be fully processed with at least one free/libre/open-source software tool".

You also think the final sentence is unclear.

Do I have that right?

[2015-07-19 22:11] RouxRC commented on #68
Yes @hlainchb that pretty much covers it:
- as expresses by @Stephen-Gates, even though "bulk" it not written, it is covered and actually now a `must` via "as a whole" in 1.2
- the machine-readability implication is indeed not obvious from `fully processed` imho
- the new final sentence is unclear while i feel like the previous wording giving an explicit requirement of machine-readability for work

[2015-07-28 20:00] mlinksva commented on #109
That was an extraordinarily stupid idea. I just merged master into gh-pages, without conflict.

2.1 draft is now visible on the site at

http://opendefinition.org/source/open-definition-2.1-dev

No changes should be made to master from now on. cc @hlainchb

[2015-07-28 20:00] #109 closed

[2015-08-14 09:32] rgrp commented on #81
@stevensimon how are you doing on the pull requests. I'm also wondering whether we move those specific buttons here ... (i.e. to this repo)

[2015-08-14 09:35] rgrp commented on #74
@hlainchb would you like to have a stab at implementing this?

[2015-08-14 10:31] rgrp opened #119 "Open work checklist and badging"
Idea: simple "checklist / walkthrough" page where you can walk through "Is my data / content open" and then at the end be told:

- Either: Great, your data is open - here's the badge (and we show the badge / button and how to embed)
- Or: Your data is not yet open - here's what you need to fix ...

Background

- We've discussed this for several years
- We have something like this running in the Op

[2015-08-14 10:32] rgrp commented on #119
/cc @hlainchb

[2015-08-14 14:20] hlainchb commented on #74
Yes, I'll have a look at it.

On Fri, Aug 14, 2015 at 3:35 AM, Rufus Pollock <notifications@github.com>
wrote:

--

Herb Lainchbury, Dynamic Solutions
250.704.6154
http://www.dynamic-solutions.com

[2015-09-18 11:57] mlinksva opened #126 "assets.okfn.org cookies cause privacybadger to block OK header image"
PrivacyBadger autodetects assets.okfn.org cookies across multiple domains and blocks it as a tracker, causing the OK image on the OD site to not show.

Background: https://www.eff.org/privacybadger#faq-How-does-Privacy-Badger-work?

I suspect there is no reason for assets.okfn.org to be sending any cookies.

Copying @nigelbabu who has helped with broader OK website issues impacting OD before. Mayb

[2015-09-18 12:00] mlinksva commented on #126
This also causes the open buttons/badges to be blocked.

[2015-09-25 07:58] stevensimon commented on #81
@rgrp I never got around to using the bitbucket repo unfortunately... my employment finished up early this year and I lost all access to my old email (bitbucket creds were in there) and honestly, have been out of the industry since. I don't mind doing the rest of the buttons up, shouldn't take too long. I'll leave it up to you whether to move them into this repo or you can add them into the bitbuc

[2015-10-26 23:33] mlinksva commented on #110
The attribution addendum text above is live at http://opendefinition.org/od/2.1/en/ and that version will be announced and linked from the home page soon; closing.

[2015-10-26 23:33] #110 closed

[2015-10-26 23:36] mlinksva commented on #93
I believe this was addressed by #101 so closing. @Stephen-Gates if not feel free to re-open, or open new issues for the OFD page as needed.

[2015-10-26 23:36] #93 closed

[2015-10-26 23:37] mlinksva commented on #68
This should have been fixed in http://opendefinition.org/od/2.1/en/ if not satisfied feel free to re-open, or better file a new issue addressing what you think needs to be fixed in 2.1.

[2015-10-26 23:37] #68 closed

[2015-10-26 23:38] mlinksva commented on #63
Fixed by #124

[2015-10-26 23:38] #63 closed

[2015-10-26 23:41] mlinksva commented on #46
This is at least partially superseded by #74 and #81

Closing for now. Things in this issue not addressed by one of the 2 above should probably be addressed in discrete new issues.

[2015-10-26 23:41] #46 closed

[2015-10-26 23:43] mlinksva commented on #15
Is this something we need to do? Perhaps @federicomorando has an opinion? Please re-open if so. Otherwise closing this stale issue.

[2015-10-26 23:43] #15 closed

[2015-10-26 23:47] mlinksva commented on #28
Link redirects to http://datacvr.virk.dk/data/ not clear where TOS is. Seems stale, closing, re-open if still pertinent.

[2015-10-26 23:47] #28 closed

[2015-11-01 22:08] ppKrauss opened #132 "how to add new translation?"
The *pt-BR* translation is ok,
  https://github.com/okfn-brasil/opendefinition/blob/gh-pages/od/2.0/pt-br/index.markdown
how to send it to http://opendefinition.org/od/2.0/pt-br ?

PS: the fork was 3 months ago, but only finished now.

[2015-11-16 06:29] mlinksva commented on #132
You should be able to send a pull request from your repository to this one, see https://help.github.com/articles/creating-a-pull-request/

If that doesn't work for you let me know.

[2015-11-16 13:25] ppKrauss commented on #132
Thanks @mlinksva , the fork was done times ago... Github sends a email,

... so, doesn't work for me.

------
PS:  we are working with od/pt-BR translations 2.0 and 2.1 [here](https://github.com/okfn-brasil/opendefinition/tree/gh-pages/od).  The 2.0 translation is ok, the 2.1 will be fineshed later.

[2015-11-16 17:07] mlinksva commented on #132
That error is not relevant to your patch. It's due to the CNAME file containing a domain already being used AND your branch being called gh-pages. The easiest way to not get that error is to rename your branch to something else, say pt-BR-translation. If the branch isn't called gh-pages github won't try to publish a site and run into the error you got notice of. You can still send a pull request i

[2015-11-18 02:37] mlinksva commented on #132
Added pt-br 2.0 translation to site.

[2015-11-18 02:37] #132 closed

[2016-05-17 15:51] #79 closed

[2016-07-09 18:13] #126 closed

[2016-08-21 07:51] pietercolpaert opened #145 "Guide to Open Data Licensing: next steps"
I was impressed with the extensive explanation on data and intellectual property (IP) rights around the world at http://opendefinition.org/guide/data/. The page is an important resource to getting a global understanding of (the jungle of) data/content and IP.

However, in order for this page to be cited/linked by the many, we should be able to get rid of the disclaimer that this is not legal advis

[2016-08-21 08:33] enyst commented on #145
Thank you for your feedback! Indeed the first issues you noted are broken refs, they exist in the source. The link to the instruction guide is missing, I think it should be this guide:
http://opendatacommons.org/guide/

I'll check tonight those references.

[2016-08-21 08:49] AusGOAL commented on #145
The material listed under Australia is either old or incorrect and should
be removed immediately!

Kind regards

b

---

_Baden M Appleyard_
_Barrister_

_National Director - AusGOAL_
Mobile: +61(0)459 824 061
LinkedIn https://www.linkedin.com/in/badenappleyard

_AusGOAL_
Visit our Website http://www.ausgoal.gov.au | Like and Share us on
Facebook https://www.facebook.com/AusGOAL | Join our LinkedI

[2016-08-21 09:15] pietercolpaert opened #146 "Legal details for Australia are incorrect"
According to @ausgoal, the chapter on Australia in http://opendefinition.org/guide/data/ is incorrect and should be removed asap.

@ausgoal: can you elaborate on this?

Source: https://github.com/okfn/opendefinition/issues/145#issuecomment-241246047

[2016-08-21 09:20] AusGOAL commented on #146
In brief, the OAKLaw articles are well out of date.  In addition, since Desktop Marketing v Telstra there has been Phone Directories v Telstra, which reversed the earlier decision in Desktop.  There has also been IceTV v NineMSN, and a number of other cases that have all dropped the sweat of the brow test.

In sum, the content of the guide with regard to Australia refers to cases that are no longe

[2016-08-21 09:29] pietercolpaert commented on #146
@AusGOAL would you be able to update the page at https://github.com/okfn/opendefinition/blob/gh-pages/guide/data/index.markdown so that it is corrected?

[2016-08-21 09:32] AusGOAL commented on #146
I would be, but not today.  In the meantime, I would greatly appreciate if
you would remove the content.  Its misleading to people in Australia and
counter productive to the education and training activity AusGOAL does in
Australia to support open data.

---

_Baden M Appleyard_
_Barrister_

_National Director - AusGOAL_
Mobile: +61(0)459 824 061
LinkedIn https://www.linkedin.com/in/badenappleyard

[2016-08-21 09:42] enyst commented on #146
Wow, that's great to learn, thank you for sharing!

Cc: @rgrp

[2016-08-21 09:48] AusGOAL commented on #146
You're welcome.  Keep up the great work on this publication though!  Its much needed!

[2016-08-21 16:20] #146 closed, assigned to nobody

[2016-08-21 16:22] mlinksva commented on #146
Thanks for the report. I deleted the Australia section. Feel free to open a pull request with up to date info.

[2016-08-21 16:49] mlinksva commented on #145
I don't think this page has been worked on much since it was [announced](http://blog.okfn.org/2007/06/27/guide-to-open-data-licensing/) in 2007. Too bad the original links are broken. Can this be fixed with redirects? For anyone who wishes to find bits that may be been lost in wiki->wordpress->jekyll migrations, see http://web.archive.org/web/*/https://okfn.org/wiki/OpenDataLicensing/

@pietercolp

[2016-08-21 19:42] enyst commented on #145
@mlinksva thanks, I made a pass to fix things. Links seem to be working now without redirects:

http://enyst.github.io/opendefinition/guide/data/

[2016-08-21 20:15] mlinksva commented on #145
Thanks @enyst, merged. I'll leave this open for further discussion of next steps.

[2016-08-21 20:27] AusGOAL commented on #146
Thanks Mike.

On 22 Aug 2016 2:22 AM, "Mike Linksvayer" notifications@github.com wrote:

[2016-08-21 23:16] enyst commented on #145
I would suggest that an update of contents is among next steps. For one, the older science commons material it refers to is now the creative commons FAQ with updated info since 4.0 versions. I'm reviewing aspects like that. I have to check more things in depth.

I agree with @pietercolpaert that this is a very interesting resource. But if you wish to make it into a reference to be cited by many an

[2016-08-22 06:36] rufuspollock commented on #146
@AusGoal when would you be able to provide updated content. My concern here is that we will simply end up with dropped content and never re-add it.

@mlinksva so we don't forget to re-add it shall we open a new issue about reinstating the content properly updated?

@mlinksva + others: one question is whether we want this guide here at all - it might be better having a permanent home at http://open

[2016-08-22 06:38] AusGOAL commented on #146
Hi Rufus,

It should be this week,  I have a draft already prepared.

Trust youre well by the way.. we havent spoken in a while.

Cheers

Baden

---

_Baden M Appleyard_
_Barrister_

_National Director - AusGOAL_
Mobile: +61(0)459 824 061
LinkedIn https://www.linkedin.com/in/badenappleyard

_AusGOAL_
Visit our Website http://www.ausgoal.gov.au | Like and Share us on
Facebook https://www.facebook.c

[2016-08-22 08:18] rufuspollock commented on #146
@AusGOAL awesome Baden 😄 - yes I'm very well (and hope you are too!).

[2016-08-22 17:44] mlinksva commented on #146
@rgrp agree, the material might best live elsewhere, probably best discussed in #145

@AusGOAL you might want to contribute an update to https://en.wikipedia.org/wiki/Sui_generis_database_right#Australia as well if needed.

[2016-08-22 20:51] AusGOAL commented on #146
Hmmm goodness me... yes... ok.

---

_Baden M Appleyard_
_Barrister_

_National Director - AusGOAL_
Mobile: +61(0)459 824 061
LinkedIn https://www.linkedin.com/in/badenappleyard

_AusGOAL_
Visit our Website http://www.ausgoal.gov.au | Like and Share us on
Facebook https://www.facebook.com/AusGOAL | Join our LinkedIn Group
http://linkd.in/oq5L3u | Follow Us on Twitter: @AusGOAL
https://twitter.com/

[2016-08-23 19:27] rufuspollock commented on #145
Great to see this being updated.

Re location / home for this: my suggestion would be a move to https://github.com/okfn/opendatahandbook somewhere appropriate (perhaps and appendix).

General point: let not the best be the enemy of the good ;-)

[2016-09-22 15:41] danfowler opened #151 ""Source" link broken"
Goes to `jekyll::GitHubMetadata::MetadataDrop`

[2016-09-22 15:41] danfowler opened #152 "Open Knowledge -> Open Knowledge International"

[2016-09-22 15:43] danfowler opened #153 "Broken second-level markdown headers"
http://opendefinition.org/licenses/process/

<img width="716" alt="screen shot 2016-09-22 at 11 43 21" src="https://cloud.githubusercontent.com/assets/772616/18755328/c9ef30da-80b9-11e6-95a9-5e0b4acbc6f8.png">

[2016-09-23 15:55] #151 closed, assigned to nobody

[2016-09-23 15:55] #152 closed, assigned to nobody

[2016-09-23 15:55] #153 closed, assigned to nobody

[2016-09-23 17:25] mlinksva commented on #153
Thanks @danfowler for filing this #152 and #151! They should all be fixed but feel free to reopen if not and file new issues or pull requests for anything else you find.

[2016-09-23 19:23] danfowler commented on #153
👍

[2016-10-07 12:54] danfowler opened #154 "Typo on http://opendefinition.org/od/2.1/en/"
"abscence"

Spotted here: https://twitter.com/owenboswarva/status/778133862438363136

[2016-10-15 03:11] #154 closed, assigned to nobody

[2016-10-29 09:04] pietercolpaert commented on #145
Just came across this report for Europe: http://ec.europa.eu/internal_market/copyright/docs/studies/1403_study2_en.pdf - seems like a very interesting resource to link to?

[2016-10-29 11:26] BrucePerens commented on #145
Under the law of most US states, only an attorney who is admitted to the
state bar association and is directly contracted to you may render you
legal advice. Thus this must remain less than legal advice for the US. In
general it is overreaching for a web site to claim its content is actual
legal counsel, as we are not acquainted with the specifics of each user and
the user will not have the legal

[2016-10-29 19:41] mlinksva commented on #145
@pietercolpaert feel free to make a PR to add that link.

Another possibility: RDA-CODATA Legal Interoperability Interest Group. (2016). Legal Interoperability of Research Data: Principles and Implementation Guidelines. https://zenodo.org/record/162241

[2017-04-07 19:26] justinclift opened #160 "A few broken license pages"
Some of the licenses linked from the [licenses](http://opendefinition.org/licenses/) page have effectively broken links. eg:

 * Against DRM → http://opendefinition.org/licenses/against-drm/ → http://www.freecreations.org/Against_DRM2.html
   * freecreations.org no longer resolves in DNS.
   * Remove it from the list?
* EFF Open Audio License → http://opendefinition.org/licenses/eff-open-audio-lic

[2017-04-07 19:43] mlinksva commented on #160
For Against DRM, a Wayback Machine link probably makes sense, eg http://web.archive.org/web/20060612204158/http://www.freecreations.org/Against_DRM2.html ... want to make a PR?

The redirect loop is probably a problem only with this site. I'll look into it and fix.

[2017-04-07 21:04] justinclift commented on #160
Sure, I can make a PR for the Against DRM one Monday, if you're ok waiting.  I'm not fussed though, so feel free to just fix it directly if you want. :smile:

[2017-04-07 21:07] justinclift commented on #160
The EFF Open Audio License page is working again now, thanks. :smile:

The link on that page itself is 404 though. :wink:

[2017-04-11 08:17] kannes opened #166 "Uncool URL"
http://opendefinition.org/okd/deutsch/

Random archive: https://web.archive.org/web/20120317043216/http://opendefinition.org/okd/deutsch/

[2017-04-11 22:33] justinclift commented on #160
Thanks @mlinksva, closing this now as I think they're both adequately taken care of. :smile:

[2017-04-11 22:33] #160 closed, assigned to nobody

[2017-04-14 19:24] #166 closed, assigned to nobody

[2017-07-17 06:27] Stephen-Gates commented on #7
Can I suggest a simple solution to [provide a machine-readable list of open licences and urls](https://discuss.okfn.org/t/is-there-a-machine-readable-list-of-open-licences-and-urls/5503/11) as this issue seems stalled...

Publish the licences as a CSV by OKI on [datahub.io](https://datahub.io/organization/okfn). If it's published as a CSV, then an API is generated.

In fact, unmaintained versions

[2017-07-17 13:09] rufuspollock commented on #7
@Stephen-Gates basically yes! The main thing to complete actually right now is https://github.com/okfn/licenses/issues/45 - let's get the licenses repo fixed and then we can publish straight into datahub.io as you suggest.

[2017-07-17 13:19] Stephen-Gates commented on #7
Ok I'll look into it over the weekend

[2017-08-05 13:57] ccamara opened #174 "Definitions' dates?"
Hello,  I haven't been able to see the dates of the different versions of the definitions (I'm afraid that when you started to use this repo in 2015 the definitions were already there). Can anyone point me to the original dates so I can properly cite them in an academic paper?

Thank you very much.

[2017-08-05 16:35] hlainchb commented on #174
Hi Carlos,

The history of the definition with dates is published here:
http://opendefinition.org/history .

Hope that helps,
Herb

On Sat, Aug 5, 2017 at 6:57 AM, Carlos Cámara <notifications@github.com>
wrote:

--

Herb Lainchbury, Dynamic Solutions
250.704.6154
http://www.dynamic-solutions.com

[2017-08-06 07:51] ccamara commented on #174
Indeed! Thank you very much.

[2017-08-06 07:51] #174 closed, assigned to nobody

[2017-10-07 08:26] Stephen-Gates opened #175 "Open Definition 2.1 in Spanish"
Antonio F. Rodríguez has kindly contributed an Open Definition 2.1 Spanish translation at https://discuss.okfn.org/t/spanish-version-of-open-definition-2-1/5815

Please consider adding it to the Open Definition site.

[2017-10-24 07:41] Stephen-Gates opened #177 "An open licence should be published openly"
Looking at [licenses.csv](https://github.com/okfn/licenses/blob/master/licenses.csv) and the json for  [`localauth-withrights`](http://licenses.opendefinition.org/licenses/localauth-withrights.json) and [`ukcrown-withrights`](http://licenses.opendefinition.org/licenses/ukcrown-withrights.json) I notice both do not have a url for their licence yet they are shown as conformant open definition licenc

[2017-10-24 11:57] mlinksva commented on #177
Is approved accurate for the first two? They aren't listed at http://opendefinition.org/licenses/

[2017-10-24 12:53] Stephen-Gates commented on #177
If you follow the links above you'll see in the json they're:

[code]

I'm not across licences in the UK - should these licenses be retired/superseded?

[2017-10-24 12:56] mlinksva commented on #177
If they are retired, yes. Does OGL supersede them or is it just different?

But if they haven't been approved they shouldn't be marked as such. Is there any evidence that they have been?

[2017-10-24 13:00] Stephen-Gates commented on #177
I have no evidence and no clues in https://github.com/okfn/licenses/blame/master/licenses/localauth-withrights.json

[2017-10-24 13:13] mlinksva commented on #177
Hmm, I see https://github.com/okfn/opendefinition/commit/cd013ce9332ca05fee6abb89889fe26673be0d65

I imagine if there is evidence it would be in http://web.archive.org/web/*/opendefinition.org (ie the site when it was in WordPress) or the old mailing list.

[2017-10-24 13:15] mlinksva commented on #177
Nevermind that commit, different license.

[2017-10-24 13:36] Stephen-Gates commented on #177
Oh! Master says `ukcrown-withrights` is retired https://github.com/okfn/licenses/blob/master/licenses/ukcrown-withrights.json.

Why doesn't this equal http://licenses.opendefinition.org/licenses/ukcrown-withrights.json?

[2017-10-24 13:44] mlinksva commented on #177
The site is running off of `gh-pages`. It probably should be switched to run off `master` and `gh-pages` deleted, or `master` deleted. I'll check on that, soon but not right now.

[2017-10-24 19:44] mlinksva commented on #177
Switched to `master`. http://licenses.opendefinition.org/licenses/ukcrown-withrights.json says retired.

[2017-10-25 08:01] Stephen-Gates commented on #175
Done http://opendefinition.org/od/2.1/es/

[2017-10-25 08:01] #175 closed, assigned to nobody

[2017-11-09 01:19] Stephen-Gates commented on #7
So we now have an up-to-date [licenses.csv](https://github.com/okfn/licenses/blob/master/licenses.csv) and [datapackage.json](https://github.com/okfn/licenses/blob/master/datapackage.json) being checked by goodtables.

To nudge this work (and the [related issue](https://github.com/okfn/licenses/issues/45)) along, here's my suggestion...

### [Open Licenses Service](https://github.com/okfn/licenses

[2017-11-13 20:55] mlinksva commented on #7
I'd rather have the data package derived from:

1. SPDX (this is where the most concentrated effort to curate info about licenses is, a shame to not leverage that)
2. Open Definition (adding individual license records as Jekyll collection there would be one way to do it; I feel that we need to uplevel documentation around approval and making a CSV canonical would go opposite direction)
3. Wikidata

[2017-11-15 05:50] rufuspollock commented on #7
@mlinksva @Stephen-Gates this sounds good - i'm happy for Stephen to proceed with Mike's guidance.

[2018-03-30 18:54] jfushada opened #179 "Rename "Indonesian" to "Bahasa Indonesia""
In the "The Open Definition In Your Language" section of the website, all languages are written in their own language except for "Indonesian", which is an English word. Would replacing it with "Bahasa Indonesia" be more appropriate?
![image](https://user-images.githubusercontent.com/24749375/38149743-c5fae4a4-3429-11e8-88ad-f702234206bb.png)

[2018-03-30 19:03] #179 closed, assigned to nobody

[2018-03-30 19:05] mlinksva commented on #179
It should be fixed now. Thanks!

[2018-05-17 10:51] stuzart opened #181 "www & licenses sub domains unavailable"
Site subhosts
     http://www.opendefinition.org/
     http://licenses.opendefinition.org/

have become unavailable. In particular the www.opendefinition.org is the root of the URLS defined in JSON file, that points to particular license information - for example http://www.opendefinition.org/licenses/dsl for DSL. (I can't find this JSON file any more, but I think it was provided through the http:

[2018-05-19 22:31] mlinksva commented on #181
Thanks @stuzart for reporting this!

licenses.opendefinition.org does work for me.

I'm not sure what the problem is with www.opendefinition.org so I'm copying @vitorbaptista @serahrono who I believe are OKFN administrators.

It probably makes sense to update the JSON provided regardless, PR to do that at https://github.com/okfn/licenses/pull/75

[2018-05-19 22:33] mlinksva commented on #62
Implemented around time of https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2018-05-19 22:33] #62 closed

[2018-05-22 15:51] mlinksva commented on #181
Also cc @smth since I see in #183 that you work for OKFN. 😄

[2018-05-22 16:10] mlinksva commented on #181
Hey all, I just noticed that www.okfn.org doesn't resolve either!

[2018-05-23 09:13] stuzart commented on #181
Thanks for the response. Yes, licenses.opendefinition.org is working again for me, must have been a local issue.
I'll update the JSON we use to correspond to the new updated version from the PR

Thanks

[2018-07-21 08:48] borisbaldassari opened #185 "Adding the EPL v2 to the list of known licences"
I would like to add the Eclipse Public Licence v2 to the list of known open licences. I'm not sure how to proceed however.. I can provide all the information needed, could someone please help me with that task?

[2018-07-21 21:02] mlinksva commented on #185
If you mean https://opendefinition.org/licenses/ we've generally not listed primarily software licenses as those are extremely well covered at https://opensource.org/licenses/alphabetical (and various other places, that one is just most analogous).

We do have an [approval process](https://opendefinition.org/licenses/process/) for listing licenses but I don't think those involved have capacity to

[2018-07-21 21:02] #185 closed, assigned to nobody

[2018-07-21 21:04] mlinksva commented on #181
I'm not sure this was fixed, but `www.` works now. Thanks for reporting!

[2018-07-21 21:04] #181 closed, assigned to nobody

[2019-02-08 12:40] mandrasch opened #190 "Older versions are not accessible?"
There is no link for the changelog/history/older version archive? Or am i missing something? 😕

[2019-02-08 19:21] mlinksva commented on #190
https://opendefinition.org/history/

It seems you're right, not linked anywhere. Maybe should be from the top of 'news' or something. Will leave open until there's a link that's relatively easy to find.

[2019-02-08 22:57] #190 closed, assigned to nobody

[2019-06-28 15:16] mellybelly opened #194 "Consider evaluation of licensing terms and best practices for their declaration"
Related to #20 and #77, among others.
See our eval of and rubric for public databases: http://reusabledata.org/
(please make a ticket or PR for any new resources you may want evaluated)

Even when "open" often the terms are not clear.
https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0213090

Would like very much to collaborate on these aspects.

[2019-07-11 23:54] JEREMYNS7 commented on #54
Just saying hi and that truth, LOVE and in all the ways of our life be with a good cheer in each and every word we utter, with authority in using our savior Jesus Christ whom is the way the truth and the life of all men making us equal to one another so, understand patience for we've all been lied to by keeping in mind that the truth has to be diligently searched out and conveyed with pure fruit,

[2019-07-22 00:21] mlinksva commented on #194
Hi, thanks for pointing out RDP; I read the paper and will probably file some issues in its repo.

I'm not sure what "Consider evaluation of licensing terms and best practices for their declaration" means in the context of the Open Definition. What do you envision would merit closing this issue?

There is significant overlap between https://opendefinition.org/od/2.1/en/ and http://reusabledata.org

[2019-12-20 21:52] eberlyn opened #196 "Maximise should be maximize"
"Maximise" is used a lot in this document. It should be spelled "maximize."

[2019-12-20 22:00] mik-wright commented on #196
Maximise is the accepted spelling everywhere but the US

[2019-12-20 22:19] mlinksva commented on #196
@eberlyn are you looking on a site other than opendefinition.org? The Open Definition itself contains one instance of `maximized` http://opendefinition.org/od/2.1/en/

@mik-wright however z is used in many technical and international settings outside the US; I suppose the Open Definition intentionally or unintentionally has conformed; see https://en.wikipedia.org/wiki/Oxford_spelling

In any case

[2019-12-20 22:20] #196 closed, assigned to nobody

[2020-01-06 18:41] mlinksva opened #197 "okfn-discuss doesn't exist anymore but approval process cites it"
Noted at https://discuss.okfn.org/t/license-approval-request-open-use-of-data-agreement-1-0/8865/3 inner quote is from https://opendefinition.org/licenses/process/#what-will-happen

[2020-07-27 23:14] mlinksva commented on #197
Fixed by #205

[2020-07-27 23:14] #197 closed, assigned to nobody

[2021-07-09 19:02] mlinksva opened #212 "Document discussion/approval of submitted licenses with links on /licenses/"
Check off each license when documented, as mentioned on the [forum](https://discuss.okfn.org/t/license-compatibility-as-imperative/10612).

- [ ] CCO-1.0
- [ ] PDDL-1.0
- [ ] CC-BY-4.0
- [ ] ODC-By-1.0
- [ ] CC-BY-SA-4.0
- [ ] ODbL-1.0
- [ ] "Against DRM"
- [ ] CC-BY-1-to-3.0
- [ ] CC-BY-SA-1-to-3.0
- [ ] "Data licence Germany – attribution – version 2.0"
- [ ] "Data licence Germany – Zero – versi

[2022-10-10 16:51] Rssmy opened #215 "My"

[2022-10-10 16:55] #215 closed, assigned to nobody